@import "style1.css";
@import "style2.css";
@import "style3.css";


.container {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 1px 300px;
    grid-template-rows: 100px 1200px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"; 
    background-color: #fff;
}

.box{
    margin-left: 0px;
    margin-right: 0px;
}

.navBar{
    background-color: #e0ebe8;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30px 300px;
    grid-template-rows: 100px;
    grid-template-areas: 
    "tx tx tx bt bt bt bt bt";
}

.navBarText{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}

.navBarButtons{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navBarItems{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.sideBarItems{
    display: flex;
    margin: 10px;
    flex-direction: column;
    padding-left: 20px;
}

.BUTTON_side {
    border-radius: 20px;
    color: #000000;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    background-color: #E0EBE8;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    }
    
.BUTTON_side:hover{
    background: #52D5B2;
}


.mainBodyItems{
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 400px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding-top: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 10px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.containerCard {
    padding: 2px 5px;
    display: flex;
    flex-direction: row;
}

.topic{
    padding-left: 10px;
    padding-top: 3%;
    line-height: 2rem;
}

#navBarTextArea{
    grid-area: tx;
}

#navBarButtonArea{
    grid-area: bt;
}

#header {
    display: flex;
    flex-direction: row;
    grid-area: hd;
}

#sideBar{
    grid-area: sd;
}

#mainBody { 
    grid-area: main;
}

#sideBar{
    padding-top: 65px;
    padding-left: 20px;
    display: grid;
    width: 100%;
    grid-template-rows: 500px 500px;
}


@media (min-width: 600px) {
    #mainBody{
        padding-top: 20%;
        display: grid;
        width: 100%;
        grid-gap: 2%;
        column-gap: 2%;
        grid-template-columns: 10%;
        grid-template-rows: repeat(6,20%);
        grid-template-areas: 
        "one one one one"
        "two two two two"
        "three three three three"
        "four four four four"
        "five five five five"
        "six six six six";
        justify-content: space-evenly;
        padding-top: 20%;
    }
}
@media (min-width: 1100px) {
    #mainBody{
        padding-top: 15%;
        display: grid;
        width: 100%;
        grid-gap: 2%;
        column-gap: 2%;
        grid-template-columns: repeat(2,10%);
        grid-template-rows: repeat(3,20%);
        grid-template-areas: 
        "one one one one two two two two"
        "three three three three four four four four"
        "five five five five six six six six";
        justify-content: space-evenly;
    }
}

#content1{
    grid-area: one;
}

#content2{
    grid-area: two;
}

#content3{
    grid-area: three;
}

#content4{
    grid-area: four;
}

#content5{
    grid-area: five;
}

#content6{
    grid-area: six;
}

