#footer{
    margin-bottom: -20px;
    background-color: #c5ded7;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 200px;
    height: 50px;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
