*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: sans-serif;
}

.container{
    min-height: 100%;
    overflow: auto;
    padding-bottom: 500px;
}



